.product-description{
  display: flex;
}
.product-description .prd-img{
  width:1000px;
  border:1px solid #ccc;
  margin-right: 20px;
}
.product-description .prd-img img {
  max-width: 100%;
}
button{
  color: #fff;
  background-color: #0072bc;
  border: 1px solid #0072bc;
  padding: 6px 12px;
  margin-bottom: 20px;
  border-radius: 3px;
  cursor: pointer;
}